%li{ :class => cycle( 'odd','even')}
  =gravatar_for( user, { size:"30x30"} )
  =link_to user.name, profile_path( user)
  -if current_user.admin? && !this_user?( user)
    =link_to "delete", remove_path( user), method: :delete, confirm: "You sure?"
  
