%li.feed-item{ :id => feed_item.id}
  =link_to gravatar_for( feed_item.user, {size: "30x30"}), profile_path( feed_item.user)
  %span.user 
    =link_to feed_item.user.user_name, profile_path( feed_item.user)
  %span.micropost-content
    =wrap( feed_item.content)
  %br  
  %span.micropost-timestamp
    Posted
    =time_ago_in_words( feed_item.created_at)
    ago.
  %span.micropost-delete  
    =link_to "delete", feed_item, method: :delete,
                                  confirm: "You sure?",
                                  title: feed_item.content


