/* footer */
@import "bootstrap";
footer {
  margin-top: 45px;
  text-align: center;
  padding-top: 5px;
  text-align:center;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  margin: auto 0;
  list-style: none;
  text-align: center;
}

footer ul li {
  float: left;
  margin-left: 10px;
}
$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
.signup{
  margin-top: 30px;
  margin: 0 auto;
  text-align:center;
}
.footer-list{ 
  margin-right: 40px;
  padding:2px 8px 2px 8px;
  background-color:#ddd;
  border: 1px #eaeaea solid;
}
.show-user ul{ 
  list-style-type:none;
  color: #CCC;
}
#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }
 .tooltip {
    display:none;
    font-size:12px;
    background-image:url  asset-url( "white_big.png", image);
    height:70px;
    width:160px;
    padding:25px;
    color:#eee;
  }
  .menu-item-1{ 
    z-index:1001;
    position:relative;
  }
  .all-users-list > li{ 
   list-style-type:none;
  }
  .users{ 
    list-style:none;
    margin: 0;
    li{ 
      &:first-child{ 
        border-top: 1px solid #ccc;
      }
      overflow: auto;
      padding: 10px 0;
      border-top: 1px solid #ccc;
      &:last-child{ 
        border-bottom: 1px solid #ccc;
      }
    }
  }
  .odd{ 
    background-color:#ddd;
  }
  .even{ 
    background-color:#aaa;
  }

