/* footer */
@font-face{ font-family: "QuickSand";
  src: asset-url( 'Quicksand_Light.otf',font) format( 'truetype');
}
@import "bootstrap";
@mixin lightgreygrad{ 
background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 59%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(59%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 59%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 59%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 59%); /* IE10+ */
background: linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 59%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
  
}

@mixin mediumgreygrad{ 
background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
  
}
footer {
  margin-top: 45px;
  text-align: center;
  padding-top: 5px;
  text-align:center;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  margin: auto 0;
  list-style: none;
  text-align: center;
}

footer ul li {
  float: left;
  margin-left: 10px;
}
$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
.signup{
  margin-top: 30px;
  margin: 0 auto;
  text-align:center;
}
.footer-list{ 
  margin-right: 40px;
  padding:2px 8px 2px 8px;
  background-color:#ddd;
  border: 1px #eaeaea solid;
}
.show-user ul{ 
  list-style-type:none;
  color: #CCC;
}
#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }
 .tooltip {
    display:none;
    font-size:12px;
    background-image:url  asset-url( "white_big.png", image);
    height:70px;
    width:160px;
    padding:25px;
    color:#eee;
  }
  .menu-item-1{ 
    z-index:1001;
    position:relative;
  }
  .all-users-list > li{ 
   list-style-type:none;
  }
  .users{ 
    list-style:none;
    margin: 0;
    li{ 
      &:first-child{ 
        border-top: 1px solid #ccc;
      }
      overflow: auto;
      padding: 10px 0;
      border-top: 1px solid #ccc;
      &:last-child{ 
        border-bottom: 1px solid #ccc;
      }
    }
  }
  .odd{ 
    @include lightgreygrad;

  }
  .even{ 
    @include mediumgreygrad;
   }
   $micropostBordercolor: #FFF;
   .microposts{ 
    font-family: QuickSand;
     list-style:none;
     margin: 10px 0 0 0;
      padding: 10px 0;
     li{ 
       color: #000;
       border-top: 1px solid $micropostBordercolor;
       padding: 10px 0 10px 10px;
       &:first-child{ 
         border-top:$micropostBordercolor 1px solid
       }
       &:last-child{ 
         border-top:$micropostBordercolor 1px solid

       }
       opacity: 60;
     }
   }
   span.micropost-timestamp{ 
     font-family: arial;
     font-size: .6em;
     font-style: italic;
     opacity: 40;

   }
   span.micropost-content{ 
     font: .8em QuickSand;
     
   }
   .micropost-odd{ 
     background-color: #fffffa
   }
   .micropost-even{ 
     background-color:#fffffe
   }
   #error_explanation{ 
     background: #eedfdf;
     color: #ff6666;
     border:  1px solid #440000;
     padding:4px;
   }
   section{ 
     margin-bottom:8px;
   }
    
.profile-link{ 
  margin-bottom:8px
}
.user-name{ 
  margin-bottom:8px;
}

.time-logged-in{ 
  margin-top:8px;
  border-bottom:dotted #0088cc 2px;

  padding:8px;
  color:#0088cc;
}
ol.microposts{ 
  border-left:solid  #0088cc 2px;
  margin-left:12px;
  
}
.feed-item{ 
  margin-left: 12px;
}
