/* footer */
@import "bootstrap";
footer {
  margin-top: 45px;
  text-align: center;
  padding-top: 5px;
  text-align:center;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  margin: auto 0;
  list-style: none;
  text-align: center;
}

footer ul li {
  float: left;
  margin-left: 10px;
}
